@import "~normalize.css";

@import "modules/homepage";
@import "_variables";
@import "modules/hello.scss";

body {
  background: $wtf;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
